.speakerCard {
  margin: 10px auto;
}

.videoContainer{
  text-align: center;
}
video {
  width: 80%;
}

.cust {
  background-color: #EE6EFF;
  color: white;
}

.rep {
  background-color: #00A7D1;
  color: white;
}

p {
  padding: 10px;
}