.videoContainer{
  text-align: center;
  video {
    width: 95%;
  }
}

.speakerCard {
  margin: 10px auto;
  .cust {
    background-color: #EE6EFF;
    color: white;
  }

  .rep {
    background-color: #00A7D1;
    color: white;
  }

  .snippet{
    white-space: initial !important;
  }
}

p {
  padding: 10px;
}